html {
  box-sizing: border-box;
  font-size: 1em; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0; }
  body ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase; }
  body a {
    text-decoration: none; }
  body p {
    margin: 0; }

.main-form {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px; }

.main-form__input {
  text-align: center;
  border: 1px solid #ced4da; }

.main-form__btn {
  background-color: #343a40;
  border: 1px solid #343a40;
  color: white; }

.main-form__btn:hover {
  background-color: rgba(35, 39, 43, 0.8);
  cursor: pointer; }

.main-form__input,
.main-form__btn {
  padding: 5px;
  margin: 5px;
  border-radius: 0.25rem; }

.dialog-error {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border: 1px solid #eed3d7;
  color: #b94a48;
  background-color: #f2dede;
  border-radius: 0.25rem; }

.dialog-error:hover {
  cursor: pointer; }

.dialog-warning {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fbeed5;
  color: #c09853;
  background-color: #fcf8e3;
  border-radius: 0.25rem; }

.dialog-warning:hover {
  cursor: pointer; }

.dialog-duplicate {
  margin: 10px;
  padding: 10px; }

.dialog-duplicate {
  border: 1px solid #b8daff;
  color: #004085;
  background-color: #cce5ff;
  border-radius: 0.25rem; }

.dialog-duplicate__message {
  display: flex;
  justify-content: space-between; }

.dialog-duplicate__toggler:hover {
  cursor: pointer; }


.selection-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }

.selection-form__monthly,
.selection-form__daily {
  width: 80%;
  text-align: center; }

.selection-form__monthly label,
.selection-form__daily label {
  display: block;
  padding: 7px;
  border: 1px solid #dda4a7;
  border-radius: 0.25rem;
  width: 100%; }

.selection-form input {
  display: none; }

.selection-form [type=radio]:checked ~ label {
  background-color: #dda4a7;
  color: white; }

.selection-form label:hover {
  cursor: pointer; }


.stocks-table {
  border-collapse: collapse;
  text-align: center;
  border-right: 0;
  border-bottom: 0;
  margin: 0 auto;
  margin-top: 20px; }

.stocks-table thead {
  display: block;
  border: 1px solid #495057;
  border-left: 0;
  border-right: 0; }

.stocks-table th {
  min-width: 100px;
  color: #495057;
  padding: 3px; }

.stocks-table tbody {
  display: block;
  max-height: 200px;
  overflow-x: scroll; }

.stocks-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.stocks-table td {
  min-width: 100px;
  border-bottom: 1px solid #e9ecef;
  padding: 5px; }


.form-active {
  background-color: whitesmoke;
  padding: 10px;
  width: 90%;
  margin: 20px auto;
  border-radius: 0.25rem; }

.form-active__container {
  display: flex;
  padding: 10px 0;
  overflow-x: auto; }

.form-active label {
  margin-left: 5px;
  padding: 10px;
  border-radius: 0.25rem; }

.form-active label:hover {
  cursor: pointer;
  background-color: rgba(34, 178, 199, 0.3); }

.form-active [type=radio] {
  display: none; }

.form-active [type=radio]:checked ~ label {
  background-color: #22b2c7;
  color: white; }




.main-sidebar {
  margin-top: 100px; }

@media (max-width: 500px) {
  .main-sidebar {
    margin-top: 80px; } }

.basics {
  margin: 0 auto;
  margin-top: 100px;
  height: 100vh;
  width: 80%; }

.basics h1 {
  text-align: center;
  font-size: 60px; }

.portfolio {
  margin: 0 auto;
  margin-top: 100px;
  height: 100vh;
  width: 80%; }

.portfolio h1 {
  text-align: center;
  font-size: 60px; }

.main-header-container {
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  top: 0; }

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px; }

.main-header__logo {
  color: rgba(0, 0, 0, 0.9); }

.main-nav__items {
  display: flex;
  justify-content: space-around; }

.main-nav__items a {
  color: rgba(0, 0, 0, 0.9); }

.main-nav__items a:hover {
  color: #dda4a7; }

@media (max-width: 500px) {
  .main-header {
    grid-template-columns: 1fr; }
  .main-header__logo {
    display: none; } }
